---
---

@import "{{ site.theme }}";

.inner {
  max-width: 70% !important;
}

td {
  border: 0px !important;
}

table {
  border: 0px !important;
}


img {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#button {
  text-transform: uppercase;
  background-color: #000000;
  padding: 20px;
  margin: 20px;
  color: #ffffff;
  position: relative;
  text-align: center;
  width: 150px;
}
#button a {
  color: #ffffff;
}

#section {
  position: relative;
  margin: 1%;
  float: left;
  width: 23%;
}

@media (max-width : 500px) {
    #section {
        float: none;
        width: auto;
    }
}
#titles {
  float: left;
  width: 70%;
}

#logo img {
  max-width: 200px;
}
